<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="style.css" />
{% if title %}
<title>{{title}}</title>
{% endif %}
<meta name="color-scheme" content="light dark" />
<style>
ol {line-height: 1.7em;}
</style>
</head>
<body>
<main>
{% if title %}
<h1>{{title}}</h1>
{% endif %}
{% if pageList %}
<ol>
{% for page in pageList %}
    <li><a href="{{page.id}}.html">{{page.id}}: {{page.title}}</a></li>
{% endfor %}
</ol>
{% endif %}
</main>
</body>
</html>
